
*{
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: auto;
    background-color: #4664a5;
    color: #ffffff;
}
header #top-bar{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
header #top-bar #open-sidebar{
    width: 30px;
    height: 30px;
    border: solid 2px white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 5px;
}
header #top-bar #open-sidebar #hamburger-symbol{
    width: 30px;
    height: 30px;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
    padding-top: 3px;
}
header #search-bar{
    width: 100%;
    height: 30px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
header #search-bar #search-box{
    width: 65%;
    height: 30px;
    background-color: #ffffff;
    font-family: sans-serif;
    border: 5px solid #40537c;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
}
header #search-bar #search-icon{
    width: 30px;
    height: 30px;
    margin: 2px;
    background-color: #4664a5;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px;
    display: flex;
}
header  #search-bar #search-icon i{
    font-size: 20px;
    margin: auto;
}
header #top-bar #user-login{
    width: auto;
    height: 30px;
    padding: 5px;
    margin: 5px;
}
header #top-bar #user-login button{
    padding: 5px;
    font-size: 18px;
    background-color: #4664a5;
    border: solid 2px #ffffff;
    color: #ffffff;
    border-radius: 5px;
}
header #main-header{
    width: 100%;
    height: 250px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
header #main-header h1{
    font-size: 2.0em;
    letter-spacing: -2px;
    padding-bottom: 0;
    margin-bottom: 0;
}
header #main-header h5{
    font-size: 1.2em;
    letter-spacing: -2px;
    padding: 10px;
    padding-top: 0;
    margin: 10px;
    margin-top: 0;
}
header nav{
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 1px 0px 10px black;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
header nav #cls-sidebar{
    width: 100%;
    height:  50px;
    color: black;
}
header nav #cls-sidebar #cross-symbol{
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: solid 2px #4664a5;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    float: right;
}
header nav #cls-sidebar #cross-symbol p{
    color: #4664a5;
    font-size: 24px;
}
header nav  #navigation-contents{
    width: 100%;
    height: auto;
    color: black;
    text-decoration: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10%;
}
header nav #navigation-contents ul{
    width: 100%;
    list-style: none;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: auto;
}

header nav #navigation-contents li{
    width: 200px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    background-color: rgb(224, 218, 218);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

header nav #navigation-contents ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
main{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    color: #000000;
    z-index: 1;
}
main #product-list{
    width: 80%;
    height: auto;
    display: grid;
    margin: auto;
}
main #product-list a{
    text-decoration: none;
}
main #product-list #books,#drafters,#casio,#others{
    width: 90%;
    height: 200px;
    background-color: rgb(224, 218, 218);
    border-radius: 10px;
    box-shadow: 2px 2px 25px rgb(224, 218, 218);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-repeat: no-repeat;
    background-size: cover;
}
main #product-list p{
    font-size: 44px;
    color: #000000;
    opacity: 1;
}
footer{
    width: 100%;
    height: auto;
    background-color: #4664a5;
    z-index: 1;
}
footer a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

footer #link-to-top{
    width: 100%;
    height: auto;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#40537c;
}
footer #link-to-top p{
    margin: auto;
}
footer #page-footer-description{
    font-size:16px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
footer #page-footer-description div{
    margin: 5px;
}
footer #page-footer-description a{
    margin: 10px;
}
footer #bottom-of-page{
    width: 100%;
    height: auto;
    background-color: #40537c;
    display: flex;
    justify-content: center;
}
footer #bottom-of-page a{
    color: black;
    margin: 5px;
    font-size: 12px;
}
#popup-login-form{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
}
#popup-login-form #popup-login-frame{
    width: 300px;
    height: auto;
    box-shadow: 1px 1px 10px 1px #000000;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 10px;
}
#popup-login-form #popup-login-frame p{
    width: 30px;
    height: 30px;
    font-size: 24px;
    border: solid 2px rgb(177, 174, 174);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#popup-login-frame h1{
    font-size: 48px;
    color: rgb(177, 174, 174);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
}
#popup-login-frame #inpName,#inpPass{
    width: 200px;
    height: 30px;
    padding: 5px;
    border: solid 4px rgb(177, 174, 174);
    background-color: rgb(224, 218, 218);
    border-radius: 5px;
    font-size: 14px;
    margin: 10px;
}
#popup-login-frame #inpPass{
    width: 160px;
    margin-right: 0;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#popup-login-frame #passwordField {
    display: flex;
}
#popup-login-frame #passwordField p{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: solid 4px rgb(177, 174, 174);
    border-left: none;
    font-size: 12px;
    background-color: rgb(224, 218, 218);
    color: #4664a5;
    padding: 5px;
    margin: 10px;
    margin-left: 0;
}
#popup-login-frame button{
    width: 100px;
    height: 30px;
    padding: 15px;
    background-color: #4664a5;
    border: solid 4px #40537c;
    color: #ffffff;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
#popup-login-frame  #popup-links{
    margin-top: 40px;
    margin-bottom: 40px;
}
#popup-login-frame  #popup-links a{
    font-size: 14px;
}












